.station-information-container {
  max-width: 350px;
  margin: 8px auto;
}

.station-information-container section {
  margin-block: 16px;
}

.station-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  cursor: pointer;
}

.station-badge-icon {
  width: 40px;
  height: 40px;
  fill: var(--color-primary);
}

.text.text-gujarati {
  font-size: 15px;
  letter-spacing: -1px;
}
