.header {
  background-color: var(--color-primary);
  height: 10vh;
  /* background-image: linear-gradient(
    to right top,
    #4591b3,
    #2d8ea9,
    #148b9c,
    #00878e,
    #00837e,
    #248a7a,
    #3c9176,
    #519871,
    #79ac7b,
    #a0c187,
    #c7d496,
    #eee8a9
  ); */
}

.header-heading {
  color: var(--color-accent1);
  gap: 10px;
}

#sarail-logo {
  width: 50px;
  height: 50px;
}

.header-menu-icon {
  width: 30px;
  height: 30px;
  fill: var(--color-accent1);
}

.header-navigation {
  top: -40vh;
  right: 0;
  display: grid;
  place-items: center;
  background-color: var(--color-primary);
  padding: 1rem;
  border-bottom-left-radius: 30px;
  /* border-bottom-right-radius: 10px; */
  transition: all 400ms cubic-bezier(0.47, 1.64, 0.41, 0.8);
  opacity: 0;
}

.header.active .header-navigation {
  top: 10vh;
  opacity: 1;
}

.header-navigation-list {
  display: flex;
  gap: 5px;
  flex-direction: column;
  list-style: none;
}

.header-navigation-list-item {
  font-size: 1.1rem;
  color: var(--color-primary);
  gap: 5px;
  background-color: var(--color-accent1);
  border-radius: 10px;
  padding: 10px;
}

.header-navigation-list-item:last-child {
  border-bottom-left-radius: 20px;
}
